@font-face {
     font-family: 'DungGeunMo';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#grid .nav li {
  color:#9C9A94;
}
#grid .nav a {
  color:#9C9A94;
}
#grid .nav a:hover {
  color:white;
  background-color: black;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: lightgreen;
  font-weight: normal;
  font-family: 'DungGeunMo';
  line-height: 180%;
}
a:hover {
  text-decoration: none;
  color:#fff;
  background-color: #7868A1;
  font-family: 'DungGeunMo';
  line-height: 180%;
  transition: 0.4s;
  cursor: pointer;
}
p {
  font-family: 'Chosunilbo_myungjo';
  line-height: 180%;
  color:white;
}
li {
  line-height: 180%;
  color: lightgreen;
  text-decoration: none;
}
body {margin:0;
background-color: black;
background-size: 120% auto;
height: 100%;
}
h1 {
  color:#363533;
  font-size:35px;
  font-family: 'DungGeunMo';
  padding:0;
  margin:0;
}
h2 {
  font-family: 'DungGeunMo';
  font-size: 20px;
  line-height: 180%;
  color:lightgreen;
  margin-bottom: 30px;
}
h3 {
  display:inline;
  font-family: 'DungGeunMo';
  line-height: 180%;
  line-height: 180%;
  font-weight: normal;
}
h4 {
  display:inline;
  font-family: 'Chosunilbo_myungjo';
  line-height: 180%;
  font-weight: bold;
  color:white;
}
button {
  position:absolute;
  left:46%;
  transform: translate(-50%, -50%);
  font-family: 'DungGeunMo';
  font-weight: normal;
  font-size: 20px;
  border-radius: 0%;
  border-style:none;
  width: auto;
  height: auto;
  margin:20px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  padding: 5px 20px;
}
button:hover{
  background-color: #363533;
  color: white;
  cursor: pointer;
  transition:0.4s;
}
span{
  width:auto;
  height:20px;
  padding:5px;
}
span.inline-block{
  display:inline-block;
}
audio {
  display:none;
}
.point span {
  color:#043362;
  background-color: #BCC8E4;
}
#highlight {
  color:#363533;
  background-color: #DDDBD7;
  font-weight: bold;
}
.img-wrap{
  position: relative;
}
.img-2{
  position:fixed;
  right:0;
  bottom:60px;
  opacity:30%;
}
