@font-face {
     font-family: 'DungGeunMo';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#grid{
  display: grid;
  padding:20px;
  padding-top:0px;
}
#grid #article {
  padding-right:10px;
  padding-left: 10px;
  margin-top: 60px;
  padding-top:60px;
  overflow:hidden;
}
#grid ul {
  display:flex;
  flex-direction: row;
  width:280px;
  margin:0;
  padding:5% 20px;
}
#grid li{
  width:600px;
}
@media(max-width:800px) {
  #grid {
    display:block;
  }
  .header {
    width: 100%;
    height: 60px;
    margin: 0;
    padding-top: 40%;
  }
.header {
  position: fixed;
  width: 100%;
  height: 60px;
  margin-top: -62px;
  margin-left:-10px;
  text-align: center;
  padding:20px;
  z-index: 999;
  text-shadow: -1px 0 #90EE90, 0 1px #90EE90, 1px 0 #90EE90, 0 -1px #90EE90;
 -moz-text-shadow: -1px 0 #90EE90, 0 1px #90EE90, 1px 0 #90EE90, 0 -1px #90EE90;
 -webkit-text-shadow: -1px 0 #90EE90, 0 1px #90EE90, 1px 0 #90EE90, 0 -1px #90EE90;
}
.header a {
  color:#363533;
  font-size:35px;
  font-weight:bold;
  font-family: 'DungGeunMo';
  padding:0;
  margin-top:10px;
  margin-right: 40px;
  }
.header a:hover {
  text-decoration: none;
  font-family: 'DungGeunMo';
  line-height: 180%;
  transition: 0.4s;
  cursor: pointer;
  }
