*{margin:0; padding:0;}
body {
    display: absolute;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.btn {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border-style:solid;
  border-color:lightgreen;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  opacity: 0;
  animation: fadeInbutton 3s ease-out forwards;
}
.btn:hover {
  background-color: black;
  color:lightgreen;
  border-color:lightgreen;
  border-style: solid;
}
