@font-face {
     font-family: 'DungGeunMo';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
    font-family: 'Beakeumrye';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_01@1.0/Beakeumrye.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DOSGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#grid .nav li {
  color:#5C5A5E;
}
#grid .nav a {
  color:#5C5A5E;
}
#grid .nav a:hover {
  color:#31529E;
  background-color: #F5F2F9;
  text-decoration: none;
}
a {
  text-decoration: none;
  color:#E16162;
  font-family: 'DungGeunMo';
  line-height: 180%;
}
a:hover {
  text-decoration: none;
  color:#363533;
  background-color: #BCC8E4;
  font-family: 'DungGeunMo';
  line-height: 180%;
  transition: 0.4s;
  cursor: pointer;
}
li {
  font-weight: bold;
  color:#959497;
  padding: 2px 0;
  width:100%;
}
p {
  line-height: 170%;
  padding: 5px 0;
}
body {
  font-family: 'DOSGothic';
  font-weight: bold;
  color:#363533;
  background: #F5F3F9 url('cssimg/bgscratch.png') no-repeat;
  background-position: 50% 50%;/* 디폴트는 top left, 혹은 0 0 */
  background-attachment: fixed;
  background-repeat: no-repeat;/* 디폴트는 repeat */
  background-size: cover;
  width:100%;
  height: 100%;
  margin:0;
}
h1 {
  font-family: 'DungGeunMo';
  color:#363533;
  font-size:24px;
  padding:0;
  margin:0;
}
h2 {
  font-family: 'DungGeunMo';
  font-size: 20px;
  color:#363533;
  padding: 20px 0;
  font-weight: bold;
}
h3 {
  font-family: 'DungGeunMo';
  display:inline;
  font-size: 17px;
  font-weight: bold;
  padding: 20px;
  line-height: 170%
}
h4 {
  font-family: 'DOSGothic';
  display:inline;
  font-weight: bold;
  padding: 20px;

}
button {
  flex-direction: row;
  justify-content: center;
  display:flex;
  font-family: 'DungGeunMo';
  font-weight: bold;
  font-size: 18px;
  border-radius: 0%;
  border-style: solid;
  border-color: #E16162;
  color:#363533;
  width: auto;
  height: auto;
  margin:0 auto;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  padding: 10px 30px;
}
button:hover{
  background-color: #363533;
  color: white;
  cursor: pointer;
  transition:0.4s;
}
.btnblack {
  display:flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'DungGeunMo';
  font-weight: bold;
  font-size: 18px;
  border-radius: 0%;
  border-style: solid;
  border-color: #E16162;
  width: auto;
  height: auto;
  margin:0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  padding: 10px 30px;
  background-color: #363533;
  color: white;
}
.btnblack:hover{
  background-color: white;
  color: #E16162;
  cursor: pointer;
  transition:0.4s;
}


span{
  width:auto;
  height:20px;
  padding:5px;
}
span.inline-block{
  display:inline-block;
}
audio {
  display:none;
}
img {width:100%;
}
iframe{
  width:100%;
  height:auto;
  margin:0;
}

.header {
  background:white;
  background-size: cover;
  background-position: top;

}
.header a:hover {
  color:#BCC8E4;
  background-color: white;
  cursor: pointer;
}
.header img {
  padding:0;
}

.point span {
  color:#F5F3F9;
  background-color: #959497;
}
#highlight {
  color:#363533;
  background-color: #DDDBD7;
  font-weight: bold;
}
.home-wrap{
  position: relative;
  width:100%;
  height:auto;
}
.home-1{
  z-index:1;
  position:relative;
}
.home-2{
  width:45%;
  position:absolute;
  left:10%;
  top:-50%;
  z-index:2;
}
.home-3{
  width:33%;
  position:absolute;
  left:23%;
  top:-25%;
  z-index:2;
}
.tape {
  position:absolute;
  width:10%;
  top:-24%;
  right:8%;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}
.wiggle {
  position:absolute;
  width:45%;
  top:-40%;
  left:6%;
  opacity:0
}

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
  margin:0;
}

/* Make the image responsive */
.container img {
  width:100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container button{
  background-color: #363533;
  color: white;
}
.container button:hover{
  background-color: #363533;
  color: #E16162;
}


#bg-container{
  position:relative;
  width:100%;
  overflow: hidden;
}
.image{
  width:100%;
  position:fixed;
  bottom:0;
  z-index:1;
}
.text{
  position:absolute;
  width:100%;
  top:20%;
  z-index: 2;
}
.bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;}
@keyframes loading_ine {
  from {width: 0%;}
  to {width: 20%;}
}

.ta-right {
  text-align: right;
  margin:0 10px 0 0;
  padding:0;
}
.gitcommit {
  display:none;
}

.memo {
    position:relative;
    width:60%;
    left:20%;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
