@font-face {
     font-family: 'DungGeunMo';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#grid{
  display: grid;
  grid-template-columns: 160px 1fr;
  padding:20px;
  padding-top:0px;
}
#grid ul {
  border-right:1px dashed gray;
  width:100px;
  margin:0;
  padding:20px;
}
#grid #article {
  padding-right:10px;
  padding-left: 10px;}
@media(max-width:800px) {
  #grid {
    display:block;
  }
  #grid ul {border-right:none;
  }
}
a {
  text-decoration: none;
  color:purple;
  font-family: 'DungGeunMo';
  line-height: 180%;
}
p {
  font-family: 'Chosunilbo_myungjo';
  line-height: 180%;
}
body {
  background-image: url("line.png");
  background-position: 50% 50%;/* 디폴트는 top left, 혹은 0 0 */
  background-attachment: fixed;
  background-repeat: no-repeat;/* 디폴트는 repeat */
  background-size: 100%;
  height: 100%;
  margin:0;
}
h1 {
  font-size: 40px;
  font-family: 'DungGeunMo';
  text-align: center;
  border-bottom:2px solid gray;
  padding:30px;
  margin:0;
}
h2 {
  font-family: 'DungGeunMo';
  font-size: 20px;
  line-height: 180%;
}
h3 {
  font-family: 'DungGeunMo';
  line-height: 180%;
}
