@font-face {
     font-family: 'DungGeunMo';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
    font-family: 'Beakeumrye';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_01@1.0/Beakeumrye.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#grid .nav li {
  color:#9B9A98;
}
#grid .nav a {
  color:#9C9A94;
}
#grid .nav a:hover {
  color:#363533;
  background-color: #F5F2F9;
  text-decoration: none;
}
a {
  text-decoration: none;
  color:#7868A1;
  font-family: 'DungGeunMo';
  line-height: 180%;
}
a:hover {
  text-decoration: none;
  color:#043362;
  background-color: lightgreen;
  font-family: 'DungGeunMo';
  line-height: 180%;
  transition: 0.4s;
  cursor: pointer;
}
li {
  line-height: 180%;
  font-weight: bold;
  color:#7868A1;
}
p {
  font-family: 'DungGeunMo';
  line-height: 180%;
}
body {
  background: #F5F3F9 url('cssimg/bgscratch.png') no-repeat;
  background-position: 50% 50%;/* 디폴트는 top left, 혹은 0 0 */
  background-attachment: fixed;
  background-repeat: no-repeat;/* 디폴트는 repeat */
  background-size: cover;
  height: 100%;
  margin:0;
}
h1 {
  color:#363533;
  font-size:35px;
  font-family: 'DungGeunMo';
  padding:0;
  margin:0;
}
h2 {
  font-family: 'DungGeunMo';
  font-size: 20px;
  line-height: 180%;
  color:#363533;
  margin-bottom: 30px;
}
h3 {
  display:inline;
  font-size: 17px;
  font-family: 'DungGeunMo';
  line-height: 180%;
  font-weight: bold;
}
h4 {
  display:inline;
  font-family: 'Beakeumrye';
  line-height: 180%;
  font-weight: bold;
}
button {
  position:absolute;
  left:34%;
  transform: translate(-50%, -50%);
  font-family: 'DungGeunMo';
  font-weight: bold;
  font-size: 18px;
  border-radius: 0%;
  border-style: solid;
  border-color: #E16162;
  color:#E16162;
  width: auto;
  height: auto;
  justify-content: center;
  margin:20px;
  background-color: #F5F3F9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  padding: 10px 30px;
}
button:hover{
  background-color: #363533;
  color: white;
  cursor: pointer;
  transition:0.4s;
}
.btnblack button{
  background-color: #363533;
  color: white;
}
.btnblack button:hover{
  background-color: #363533;
  color: #E16162;
}

span{
  width:auto;
  height:20px;
  padding:5px;
}
span.inline-block{
  display:inline-block;
}
audio {
  display:none;
}
iframe{
  display:none;
}
img {width:100%;}


.header {
  background-image: url("line-cp.png");
  background-size: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.header a:hover {
  color:#BCC8E4;
  background-color: #F5F2F9;
  }


.point span {
  color:#043362;
  background-color: #BCC8E4;
}
#highlight {
  color:#363533;
  background-color: #DDDBD7;
  font-weight: bold;
}
.home-wrap{
  position: relative;
  width:100%;
  height:400px;
}
.img-memo{
  left:20%;
  width:60%;
  height:auto;
  position:relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.home-1{
  z-index:1;
  position:relative;
}
.home-2{
  width:45%;
  position:absolute;
  left:20px;
  top:-125px;
  z-index:2;
}
.home-3{
  width:34%;
  position:absolute;
  left:100px;
  top:-60px;
  z-index:2;
}

.tape {
  position:absolute;
  width:10%;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
  margin:0;
}

/* Make the image responsive */
.container img {
  width:100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container button {
  position: absolute;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border-style:solid;
  border-color:lightgreen;
}
.container button:hover {
  background-color: black;
  color:lightgreen;
  border-color:lightgreen;
  border-style: solid;
}

#bg-container{
  position:relative;
  width:100%;
  overflow: hidden;
}
.image{
  width:100%;
position:fixed;
bottom:0;
z-index:1;
}
.text{
  position:absolute;
  width:100%;
  top:20%;
  z-index: 2;
}
.bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;}
@keyframes loading_ine {
  from {width: 0%;}
  to {width: 20%;}
}

.ta-right {
  text-align: right;
}
